/* need to combine the two css files and remove null one*/

:root {
  --darkTan: #8d7b68;
  --brown: #a4907c;
  --lightBrown: #c8b6a6;
  --tan: #f1dec9;
  --redBrown: #864000;
  --darkBrown: #1a120b;
}
::selection {
  background-color: black;
  color: goldenrod;
}

#bodyCSS {
  font-family: "Raleway", sans-serif;
}
header {
  background: linear-gradient(90deg, var(--redBrown) 5%, var(--darkBrown) 95%);
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

header h1 {
  font-family: "Raleway Dots", "Raleway", sans-serif;
  font-size: 2.5rem;
  color: var(--redBrown);
  text-decoration: overline underline dotted;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

nav input[type="text"],
nav input[type="password"] {
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  background-color: var(--lightBrown);
  width: 10rem;
}

#rChef {
  font-family: "Raleway Dots", "Raleway";
  color: var(--redBrown);
  text-decoration: overline underline dotted;
  left: 25%;

  text-transform: uppercase;
  text-shadow: 1px 9px 15px black;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
aside {
  padding: 10px;
  border-radius: 8px;
  width: 350px;
  margin: 3px 2px 3px 2px;
  border: 2px solid var(--darkBrown);
}

aside h2 {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

aside input[type="search"] {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--darkBrown);
  border-radius: 8px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  margin-bottom: 8px;
  background-color: white;
}

aside button[type="submit"] {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  color: var(--tan);
  background-color: var(--brown);
  cursor: pointer;
}

aside button[type="submit"]:hover {
  background-color: var(--darkTan);
}

div #inputcont {
  display: flex;
  justify-content: center;
  align-items: center;
}

#sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--darkTan);
  width: 350px;
  color: var(--redBrown);
  padding: 10px;
  margin: 3px 2px 3px 2px;
  border: 2px solid var(--darkBrown);
  border-radius: 4px;
}
#sign-up input {
  width: 150px;
}

#sign-up button[type="submit"] {
  display: block;
  margin: 2px auto;
  width: 40%;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  color: var(--tan);
  background-color: var(--brown);
  cursor: pointer;
}

#signUpBtn[type="submit"]:hover {
  background-color: var(--darkTan);
}

#savedRecipes {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--darkTan);
  width: 800px;
  color: var(--redBrown);
  padding: 10px;
  margin: 3px 2px 3px 2px;
  border: 2px solid var(--darkBrown);
  border-radius: 4px;
}

#resultsCont {
  background-color: var(--lightBrown);
  border: 2px solid var(--darkBrown);
  border-radius: 8px;
  padding: 10px;
  width: 90%;
  margin: 3px 2px 3px 2px;
}
#resultsList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#resultsList li {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.signInBtn {
  font-size: 12px;
  font-weight: bold;
  padding: 8px;
  width: 4rem;
  height: 2rem;
  text-align: center;
  text-decoration: none;
  color: rgb(236, 228, 228);
  background: linear-gradient(90deg, rgb(88, 75, 38) 0%, rgb(100, 90, 60) 100%);
  border-radius: 4px;
}

.signInBtn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(247, 244, 242, 0.6);
  transition: transform 150ms;
  transform: scale(1.03);
}

#recipeList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2rem auto;
  max-width: 1200px;
}

#recipeList figure {
  width: calc(33.33% - 1rem);
  margin-bottom: 1rem;
  background-color: var(--tan);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
}

#recipeList img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

#recipeList figcaption {
  padding: 8px;
}

#recipeList h3 {
  margin-bottom: 8px;
}

#recipeList p {
  font-size: 8px;
  line-height: 1.5;
  margin-bottom: 8px;
}

@media only screen and (max-width: 768px) {
  #headerCSS {
    height: 80px;
    background-size: 100% 150px;
  }
  #headerCSS h1 {
    font-size: 2.5rem;
    padding: 1rem;
  }
  #background {
    background-size: 50%;
  }
  #titleText {
    background-size: 50% 80%;
  }
  .button {
    font-size: 1rem;
    padding: 2rem 0;
    width: 4rem;
    height: auto;
    text-align: center;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 576px) {
  #headerCSS {
    height: 60px;
    background-size: 100% 100px;
  }
  #headerCSS h1 {
    font-size: 2rem;
    padding: 0.5rem;
  }
  #background {
    background-size: 70%;
  }
  #titleText {
    background-size: 70% 60%;
  }
  .button {
    font-size: 8px;
    padding: 1rem 0;
    width: 2rem;
    height: auto;
    text-align: center;
    margin-bottom: 1rem;
  }
}

/* fonts added if you want to try :
font-family: 'Abel', sans-serif;
font-family: 'Bona Nova', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Raleway Dots', cursive; */
